## Author: Christoph Lassner.
{% include "cpp_disclaimer.jinja" %}
{% import 'cpptools.jinja' as cpptools %}

#include "./vec_exporter.h"

#include <vector>

#include "../global.h"
#include "../util.h"
#include <{{header}}>

using namespace fertilized;

namespace pyfertilized {
  void __export_vectors_{{tpind}}() {
    custom_vector_from_seq<{{vec_type}}>();
  };
}  // namespace pyfertilized
