## Author: Christoph Lassner.
{% include 'cpp_disclaimer.jinja' %}
#pragma once
#ifndef PYFERTILIZED_EXPORTERS_MOD_FUNCS_EXPORT_MODULE_FUNCTIONS_H_
#define PYFERTILIZED_EXPORTERS_MOD_FUNCS_EXPORT_MODULE_FUNCTIONS_H_

#include "../global.h"

namespace pyfertilized {

@ for func_ind in nmfuncids
  void __export_module_function_{{func_ind}}();
@ endfor

}  // namespace pyfertilized

#endif  // PYFERTILIZED_EXPORTERS_MOD_FUNCS_EXPORT_MODULE_FUNCTIONS_H_