## Author: Christoph Lassner.
{% macro render_arguments(function, render_types=True) -%}
{%- if not function.ParentClassParam == None -%}
{{ function.ParentClassParam.type.getCType() }} {{ function.ParentClassParam.name }},
{%- endif -%}
{%- for arg in function.Arguments -%}
{%-   if arg.type.isMxArrayType() -%}
mxArray *
{%-   else -%}
{{ arg.type.getCType() }}
{%-   endif %}
 {{ arg.name }}
{%-   if not loop.last -%}, 
{%-   endif -%}
{%- endfor -%}
{%- endmacro -%}

{% macro render_function_template_params(func) -%}
{%- for st in t.Types -%}{{ st }}{% if not loop.last %}, {% endif %}{% endfor %}{% endmacro  %}
