## Author: Christoph Lassner.
{% include "cpp_disclaimer.jinja" %}
{% import 'cpptools.jinja' as cpptools %}

#include "./export_module_functions.h"

#pragma warning(push, 0)
#include <fertilized/ndarray/bp/auto.h>
#pragma warning(pop)

#include "../global.h"
#include <{{header}}>

namespace py = boost::python;
using namespace fertilized;

namespace pyfertilized {
  void __export_module_function_{{func_ind}}() {
@ if not insttype is none
    py::def("{{func.FunctionPrefix}}_{{insttype.TypesString}}",
            &fertilized::{{func.FunctionPrefix}}<{{cpptools.render_types(insttype.Types)}}                         >);
@ else
    py::def("{{func.FunctionPrefix}}", &fertilized::{{func.FunctionPrefix}});
@ endif
  };
}  // namespace pyfertilized
