## Author: Christoph Lassner.
{% include "cpp_disclaimer.jinja" %}
{% import 'cpptools.jinja' as cpptools %}

#include "./__{{cls.ClassName}}_exporter.h"

namespace pyfertilized {
  void __python_export_{{clsid}}() {
@ if not insttypes is none
    export_{{cls.ClassName}}<{{cpptools.render_types(insttypes.Types)}}                            >("_{{insttypes.TypesString}}");
@ else
    export_{{cls.ClassName}}("");
@ endif
  };
}  // namespace pyfertilized

