## Author: Christoph Lassner.
{% include 'python_disclaimer.jinja' %}
import fertilized
import unittest
import pickle

class PickleTest(unittest.TestCase):
@ for class in classes
@   if class.isSerializable() and not class.IsAbstract
    def test_{{class.ClassName}}(self):
@     if not class.SupportedTypes is none
@       for insttypes in class.SupportedTypes
      attrname = '{{class.ClassName}}_{{insttypes.TypesString}}'
      obj = fertilized._pyfertilized.__dict__[attrname]()
      obj2 = pickle.loads(pickle.dumps(obj))
@       endfor
@     else
      attrname = '{{class.ClassName}}'
      obj = fertilized._pyfertilized.__dict__[attrname]()
      obj2 = pickle.loads(pickle.dumps(obj))
@     endif
@   endif


@ endfor

if __name__ == "__main__":
  unittest.main()