## Author: Christoph Lassner.
{% include "cpp_disclaimer.jinja" %}
{% import 'cpptools.jinja' as cpptools %}

#pragma once
#ifndef PYFERTILIZED_EXPORTERS_VEC_TYPES_VEC_EXPORTER_H_
#define PYFERTILIZED_EXPORTERS_VEC_TYPES_VEC_EXPORTER_H_

#include "../global.h"

namespace pyfertilized {

@ for tpind in tmplids
  void __export_vectors_{{tpind}}();
@ endfor

}  // namespace fertilized

#endif  // PYFERTILIZED_EXPORTERS_VEC_TYPES_VEC_EXPORTER_H_