[submodule "SConsChecks"]
	path = SConsChecks
	url = https://github.com/ChrislS/SConsChecks.git
	branch = master
[submodule "external/ndarray"]
	path = external/ndarray
	url = https://github.com/ChrislS/ndarray.git
	branch = master
[submodule "external/caffe-brewer"]
	path = external/caffe-brewer
	url = https://github.com/ChrislS/caffe-brewer
	branch = master
