*.vcxproj.user
x64/
*.pyc
.sconf_temp/
_CL_*
*.suo
*.sdf
compile.sh
compile.bat
setup_paths.sh
setup_paths.bat
nuget-deps/
Debug/
*.opensdf
documentation/html/
Presentation/detection*
Presentation/effect_*
Presentation/nim*
Presentation/oim*
Presentation/pmap*
Presentation/results*
Presentation/test.png
Presentation/*.csv
Presentation/*.png
Presentation/*/*.png
Presentation/C++/boosting
Presentation/C++/custom
Presentation/C++/overview
Presentation/C++/regression
build/
.sconsign.dblite
config.log
documentation/Release
fertilized/fertilized.h
fertilized/fertilized_fwd.h
fertilized/feature_extraction/__alexnet.h
fertilized/soil.h
fertilized/serialization/__*
fertilized/serialization/serialization.cpp
*.dll
*.exe
*.lib
*.pyd
*.so
*.os
*.pkl
*.asv
*.exp
pyfertilized/array_exporter.cpp
pyfertilized/export_module_functions.cpp
pyfertilized/exporters
pyfertilized/fertilized/TypeTranslations.py
pyfertilized/tests_pickle.py
pyfertilized/tmpfertilized
pyfertilized/pyfertilized.cpp
pyfertilized/fertilized/init.py
pyfertilized/fertilized
pyfertilized/exporters_mod_funcs
pyfertilized/exporters_vec_types
*~
fertilized_tests/fertilized_tests
fertilized_tests/tmp.txt
matfertilized/exporters/__*
matfertilized/fertilized/generated
matfertilized/fertilized/Soil.m
matfertilized/fertilized/headers
matfertilized/matlab_headers/__*
matfertilized/matlab_headers/matlab.h
bin
bindep
include
lib

